$color-background: #fafafa;
$color-pink: deeppink;
$color-text-dark: #222222;
$font-size: 20px;
$font-weight: 300;
$font-weight-bold: 500;
$border-color: #aaa;
$tag-color: blueviolet;
$date-color: #aaa;
